<ion-view title="Tipps">
    <ion-content class="has-header padding">
        <ion-list ng-controller="HintsController as hintsCtrl"
                  show-delete="shouldShowDelete"
                  can-swipe="listCanSwipe">
            <ion-item ng-repeat="item in items"
                      class="item-thumbnail-left">

                <img ng-src="{{item.img}}">
                <h2>{{item.title}}</h2>
                <div>{{item.description}}</div>
                <ion-delete-button class="ion-minus-circled"
                                   ng-click="items.splice($index, 1)">
                </ion-delete-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>